@keyframes AnimateInArticle {
    0% {
      opacity: 0;
      max-height: 0px;
      overflow: hidden; }
    10% {
      opacity: 1;
      max-height: 1000px;
      overflow: hidden; }
    100% {
      opacity: 1;
      max-height: 10000px;
      overflow: hidden; } }
  
  article div.header {
    display: flex;
    justify-content: space-between; }
  

    .text {
      display: flex;
      animation: AnimateInArticle 10s;
      justify-content: space-between; }

  a {
    color: inherit;
    transition: 0.5s; }
    a:hover {
      text-shadow: 0px 0px 50px whitesmoke;
      transition: 0.5s; }
  
  article {
    border-radius: 20px;
    box-shadow: 0px 4px 20px gray;
    padding: 10px 20px;
    margin: 50px calc(5% - 10px);
    color: inherit; }

a#edit-btn {
    border-bottom: 0px;
    font-size: 15px; 
    background-color: red;
    padding: 5px 12.5px;
    border-radius: 25px;
}

  @media screen and (min-width: 800px) {
    article {
      width: 90%; }
    .text img {
      border-radius: 20px;
      align-self: center; } }
  
  @media screen and (max-width: 800px) {
    article {
      width: 80%; }
    .text img {
      display: none; } }
  