version: '3.7'

services:
  mysql:
    container_name: Portfolio-Database
    image: mysql:latest
    volumes:
      - 'apache-mysql:/var/lib/mysql'
    ports:
      - '${FORWARDED_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ''
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    networks:
      - app-network
    
  php-apache:
    container_name: Portfolio-App
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${APP_PORT:-80}:80'
    volumes:
      - '.:/var/www/html/'
    networks:
      - app-network
    depends_on:
      - mysql

  composer:
    container_name: Portfolio-Composer
    image: composer:latest
    volumes:
      - '.:/app'
    command: ["composer", "install"]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: Portfolio-PMA
    environment: 
      PMA_HOST: mysql
    restart: always
    ports:
      - ${FORWARDED_PMA_PORT}:80
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  apache-mysql:
    driver: local