::-webkit-scrollbar {
    width: 10px; }
  
  ::-webkit-scrollbar-track {
    margin: 0;
    display: hidden; }
  
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0; }
  
  @keyframes AnimateIn {
    0% {
      transform: translate(5px, -275px);
      height: 100vh; }
    100% {
      transform: translate(5px, -75px);
      height: 100vh; } }
  
  @keyframes ConfirmAnimation {
    0% {
      background-color: inherit; }
    50% {
      background-color: green; }
    100% {
      background-color: inherit; } }
  
  @keyframes InputAnimation {
    0% {
      border: 1px solid var(--mainBackground);
      border-bottom: 1px solid white; }
    100% {
      border: 1px solid gray;
      border-bottom: 1px solid white; } }
  @keyframes CellHover {
    0% {
      background-color: inherit;
      color: white;
    }
    100% {
      background-color: white;
      color: black;
    }
  }

  @keyframes HeaderCellHover {
    0% {
      background-color: white;
      color: black;
    }
    100% {
      background-color: inherit;
      color: white;
    }
  }
  main {
    animation: AnimateIn 1s ease-out; }
  
  #links {
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0px;
    top: 75px;
    bottom: 0px;
    min-width: 25px;
    max-width: 150px;
    background-color: var(--mainBackground); }
    #links p {
      text-align: center;
      color: inherit;
      cursor: pointer;
      font-size: 20px; }
    #links ul#links-list {
      padding: 0px;
      margin: 0px; }
      #links ul#links-list li {
        display: none; }
    #links.active {
      z-index: 1;
      width: 150px; }
      #links.active ul#links-list {
        width: 150px; }
        #links.active ul#links-list li {
          display: block;
          text-align: center;
          width: 100%;
          list-style: none;
          padding: 20px 0px;
          transition: 1s; }
          #links.active ul#links-list li:hover {
            transform: translateX(10px);
            transition: 1s; }
          #links.active ul#links-list li a {
            font-weight: 400;
            color: inherit;
            text-decoration: none; }
  
  div#table {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll; }
  
  table {
    border: 2px solid white;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 20px;
    color: inherit; }
  
  th {
    background-color: white;
    color: black; }
  
  th, td {
    border: 2px solid white;
    padding: 20px;
    vertical-align: middle;
    text-align: center; }
  td:hover {
    background-color: white;
    color: black;
    animation: CellHover 0.25s ease-in-out;
  }
  th:hover {
    background-color: inherit;
    color: white;
    animation: HeaderCellHover 0.25s ease-in-out;
  }
  
  div#progress-bar {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 50px auto 50px auto;
    background-color: gray;
    border-radius: 2px; }
  
  div#progress {
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: green;
    z-index: 2; }
    div#progress p {
      width: 100%;
      text-align: center;
      margin: 13px 0; }
  
  div#section {
    position: fixed;
    top: 75px;
    bottom: 0px;
    right: 0px;
    width: calc(100% - 150px); }
    div#section.active {
      width: calc(100% - 25px); }
  
  input[type="text"], textarea {
    border: 0 solid white;
    border-bottom: 1px solid white;
    border-radius: 2px;
    outline: none;
    width: 40%;
    height: 40px;
    background-color: var(--mainBackground);
    color: inherit;
    margin: 0 auto; }
    input[type="text"]:focus, textarea:focus {
      animation: InputAnimation 0.5s ease-in;
      border: 1px solid gray;
      border-bottom: 1px solid white; }
  
  @media screen and (max-width: 800px) {
    #links {
      background-image: var(--backgroundGradient);
      z-index: 1; }
    table th, td {
      font-size: 2vw;
      padding: 10px; }
    input[type="text"], textarea {
      width: 100%;
      margin: 0; } }
  