@keyframes AnimateIn {
    0% {
      transform: translate(5px, -275px);
      height: 100vh; }
    100% {
      transform: translate(5px, -75px);
      height: 100vh; } }
  
  main {
    animation: AnimateIn 1s ease-out; }

  #links {
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0px;
    top: 75px;
    bottom: 0px;
    min-width: 25px;
    max-width: 150px;
    background-color: var(--mainBackground);
    z-index: 2; }
  
  #links p {
    text-align: center;
    color: inherit;
    cursor: pointer;
    font-size: 20px; }
  
  #links ul#links-list {
    padding: 0px;
    margin: 0px; }
  
  #links ul#links-list li {
    display: none; }
  
  #links.active {
    display: inline;
    width: 150px; }
  
  #links.active ul#links-list {
    width: 150px; }
  
  #links.active ul#links-list li {
    display: block;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 20px 0px;
    transition: 1s; }
  
  #links.active ul#links-list li:hover {
    transform: translateX(10px);
    transition: 1s; }
  
  #links.active ul#links-list li a {
    font-weight: 400;
    color: inherit;
    text-decoration: none; }
  
  div#section {
    position: fixed;
    top: 75px;
    bottom: 0px;
    right: 0px;
    width: calc(100% - 150px);
    min-width: 190px; }
  
  div#section.active {
    width: calc(100% - 25px); }
  
  article {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    color: inherit;
    border-radius: 25px;
    box-shadow: 0px 0px 20px gray;
    margin: 50px 0;
    min-width: inherit; }
  
  #ik-div img {
    width: 200px;
    height: 300px; 
    margin-left: auto; }
  @media screen and (min-width: 800px) {
    article {
      width: 60%;
      padding: 10px 40px; }
    #ik-div{
      display: grid;
      grid-template-columns: 60% 30%; }
    #hobbiesdiv {
      display: grid;
      grid-template-columns: 70% 20%; }
    #hobbiesdiv img {
      border-radius: 20px;
      height: 100px;
      width: 150px; }
    main h1, h2 {
      font-weight: 400;
      transition: 1s; } }
  
  @media screen and (max-width: 800px) {
    article {
      width: 80%;
      padding: 10px 20px; }
    .images img {
      display: none; }
    #ik-div {
      display: inherit; }
    #games ul {
      background-position: center;
      border-radius: 5px; }
    #coding ul {
      background-position: center;
      border-radius: 5px; }
    #other ul {
      background-position: center;
      border-radius: 5px; } }
  